{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/receipts.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul class="navigation">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">My Receipts</a></li>
                    <li><a href="{% url 'create_receipt'%}">Create Receipt</a></li>
                    <li><a href="{% url 'category_list'%}">My Categories</a></li>
                    <li><a href="{% url 'create_category'%}">Create Category</a></li>
                    <li><a href="{% url 'account_list' %}">My Accounts</a></li>
                    <li><a href="{% url 'create_account' %}">Create Account</a></li>
                    <li><a href={% url 'logout' %}>Logout</a></li>
                    {% else %}
                    <li><a href={% url 'signup' %}>Signup</a></li>
                    <li><a href={% url 'login' %}>Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}
     </body>
</html>
