{% extends 'base.html' %}

{% block title %}My Accounts{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Account Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts.all %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.all|length }}</td>
                    {% empty %}
                    <td>There are no receipts</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
