{% extends 'base.html' %}

{% block title %}My Categories{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories.all %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}
                    {% empty %}
                    <td>There are no receipts</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
