 header {
    background-image: url("https://thumbs.dreamstime.com/z/banner-notepad-mockup-stationery-coffee-cup-blue-pastel-background-business-concept-copyspace-217222800.jpg");
}

.gray-lines tr:nth-child(even) {
    background-color: lightgrey
}

.navigation
{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 40px;
padding-right: 25%;
}

.navigation li
{
display: flex;
font-size: 20px;
}
